@import "../../styles/variables";
.button {
    width: 50px;
    height: 50px;
    background: $red-color;
    border-radius: 6px;
    border: none;
    &:disabled{
        background: $light-gray-color;
    }
    &:hover{
        cursor: pointer;
        opacity: 70%;
    }
}
