.container{
  display: grid;
  grid-row-gap: 16px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  width: 397px;
  height: 1000px;
  overflow: auto;
}
.container:first-child {
  grid-row-gap: 20px;
}

.search_form {
  height: 50px;
  display: flex;
  justify-content: space-between;
}
