@import '../../node_modules/antd/dist/antd.css';
@import 'variables.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    line-height: unset;
}
p {
    margin: 0;
    display: inline;
}
img{
    vertical-align: unset;
}



