@import "../../styles/variables";
.item {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    border-radius: 6px;
    border: $light-gray-color solid 1px;
    width: 357px;
    height: 104px;
    align-items: center;
    &:hover {
        cursor: pointer;
        box-shadow: 0 2px 6px $gray-color;
    }
    &__title {
        width: 241px;
        height: 59px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__name {
        font-family: Roboto, serif;
        font-size: 16px;
        font-weight: bold;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &__bottom {
        display: flex;
        flex-wrap: nowrap;
        color: $dark-gray-color;
        font-size: 14px;
        font-weight: normal;
    }
    &__like{
        margin-right: 20px;
    }
    &__org_name{
        text-decoration: none;
        color: $dark-gray-color;
        font-size: 14px;
        font-weight: normal;
        margin: 4px 0 4px 0
    }
    &__org_name:hover {
        color: $link-hover-color;
    }
}




