<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="search-form">
            <label>
                <input type="text" class="search-form__input" placeholder="Введите название организации">
            </label>
            <button class="search-form__button"><img src="search.svg" alt="search"> </button>
        </div>
<!--        <div class="repos-list">-->
            <div class="repo-item">
                <div class="repo-item__logo">K</div>
                <div class="repo-tem__title">
                    <p class="repo-item__name">kts-school-frontend</p>
                    <a href="https://github.com/ktsstudio" class="repo-item__org_name">ktsstudio</a>
                    <div class="repo-item__bottom">
                        <img src="star.svg" alt="star" class="repo-item__star">
                        <div class="repo-item__like">123</div>
                        <div class="repo-item__update">Updated 21 Jul</div>
                    </div>
                </div>
            </div>
            <div class="repo-item">
                <div class="repo-item__logo">
                    <img src="some_square_picture.jpeg" alt="logo" class="img_logo">
                </div>
                <div class="repo-tem__title">
                    <p class="repo-item__name">kts-school-frontend-very-long-repository-name</p>
                    <a href="https://github.com/ktsstudio" class="repo-item__org_name">ktsstudio</a>
                    <div class="repo-item__bottom">
                        <img src="star.svg" alt="star" class="repo-item__star">
                        <div class="repo-item__like">123</div>
                        <div class="repos_update">Updated 21 Jul</div>
                    </div>
                </div>
            </div>
            <div class="repo-item">
                <div class="repo-item__logo">K</div>
                <div class="repo-tem__title">
                    <p class="repo-item__name">kts-school-frontend</p>
                    <a href="https://github.com/ktsstudio" class="repo-item__org_name">ktsstudio</a>
                    <div class="repo-item__bottom">
                        <img src="star.svg" alt="star" class="repo-item__star">
                        <div class="repo-item__like">123</div>
                        <div class="repo-item__update">Updated 21 Jul</div>
                    </div>
                </div>
            </div>
            <div class="repo-item">
                <div class="repo-item__logo">K</div>
                <div class="repo-tem__title">
                    <p class="repo-item__name">kts-school-frontend</p>
                    <a href="https://github.com/ktsstudio" class="repo-item__org_name">ktsstudio</a>
                    <div class="repo-item__bottom">
                        <img src="star.svg" alt="star" class="repo-item__star">
                        <div class="repo-item__like">123</div>
                        <div class="repo-item__update">Updated 21 Jul</div>
                    </div>
                </div>
            </div>
            <div class="repo-item">
                <div class="repo-item__logo">K</div>
                <div class="repo-tem__title">
                    <p class="repo-item__name">kts-school-frontend</p>
                    <a href="https://github.com/ktsstudio" class="repo-item__org_name">ktsstudio</a>
                    <div class="repo-item__bottom">
                        <img src="star.svg" alt="star" class="repo-item__star">
                        <div class="repo-item__like">123</div>
                        <div class="repo-item__update">Updated 21 Jul</div>
                    </div>
                </div>
            </div>
            <div class="repo-item">
                <div class="repo-item__logo">K</div>
                <div class="repo-tem__title">
                    <p class="repo-item__name">kts-school-frontend</p>
                    <a href="https://github.com/ktsstudio" class="repo-item__org_name">ktsstudio</a>
                    <div class="repo-item__bottom">
                        <img src="star.svg" alt="star" class="repo-item__star">
                        <div class="repo-item__like">123</div>
                        <div class="repo-item__update">Updated 21 Jul</div>
                    </div>
                </div>
            </div>
        <div class="repo-item">
            <div class="repo-item__logo">K</div>
            <div class="repo-tem__title">
                <p class="repo-item__name">kts-school-frontend</p>
                <a href="https://github.com/ktsstudio" class="repo-item__org_name">ktsstudio</a>
                <div class="repo-item__bottom">
                    <img src="star.svg" alt="star" class="repo-item__star">
                    <div class="repo-item__like">123</div>
                    <div class="repo-item__update">Updated 21 Jul</div>
                </div>
            </div>
        </div><div class="repo-item">
        <div class="repo-item__logo">K</div>
        <div class="repo-tem__title">
            <p class="repo-item__name">kts-school-frontend</p>
            <a href="https://github.com/ktsstudio" class="repo-item__org_name">ktsstudio</a>
            <div class="repo-item__bottom">
                <img src="star.svg" alt="star" class="repo-item__star">
                <div class="repo-item__like">123</div>
                <div class="repo-item__update">Updated 21 Jul</div>
            </div>
        </div>
    </div><div class="repo-item">
        <div class="repo-item__logo">K</div>
        <div class="repo-tem__title">
            <p class="repo-item__name">kts-school-frontend</p>
            <a href="https://github.com/ktsstudio" class="repo-item__org_name">ktsstudio</a>
            <div class="repo-item__bottom">
                <img src="star.svg" alt="star" class="repo-item__star">
                <div class="repo-item__like">123</div>
                <div class="repo-item__update">Updated 21 Jul</div>
            </div>
        </div>
    </div><div class="repo-item">
        <div class="repo-item__logo">K</div>
        <div class="repo-tem__title">
            <p class="repo-item__name">kts-school-frontend</p>
            <a href="https://github.com/ktsstudio" class="repo-item__org_name">ktsstudio</a>
            <div class="repo-item__bottom">
                <img src="star.svg" alt="star" class="repo-item__star">
                <div class="repo-item__like">123</div>
                <div class="repo-item__update">Updated 21 Jul</div>
            </div>
        </div>
    </div><div class="repo-item">
        <div class="repo-item__logo">K</div>
        <div class="repo-tem__title">
            <p class="repo-item__name">kts-school-frontend</p>
            <a href="https://github.com/ktsstudio" class="repo-item__org_name">ktsstudio</a>
            <div class="repo-item__bottom">
                <img src="star.svg" alt="star" class="repo-item__star">
                <div class="repo-item__like">123</div>
                <div class="repo-item__update">Updated 21 Jul</div>
            </div>
        </div>
    </div>

        </div>
<!--    </div>-->
</body>
</html>