* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    --red-color: #ff5555;
    --dark-gray-color: #7E7E7E;
    --gray-color:#B6B6B6;
    --light-gray-color: #D9D9D9
}

.container{
    display: grid;
    grid-row-gap: 16px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    width: 397px;
    height: 1000px;
    overflow: auto;
}
.container:first-child {
    grid-row-gap: 20px;
}

.search-form {
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.repos-list {
    overflow: hidden;
}



